#chart3 {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

.link {
    stroke: #aaa;
}

.node text {
    stroke:#333;
    cursos:pointer;
}

.node circle{
    stroke:#fff;
    stroke-width:3px;
    fill:#555;
}